<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            Login to comment
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <textarea class="form-control" ` rows="4" placeholder="Login to comment..." disabled></textarea>
                    <input type="submit" value="Submit" class="btn btn-success mt-4" disabled>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    if (window.location.href.split('/').slice(-1).pop() == '?newComment') {
        let successAlert = document.getElementById('success-alert')
        successAlert.innerHTML = `
        <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Your comment has been posted
        </div>
        `
    }
</script>