<div class="container" id="comments">

    <h4 class="mt-5 mb-5">Comments</h4>

    <% for (let i = 0; i < comments.length; i++) { %>
    <div class="card mb-4">
        <div class="card-header">
            <p class="float-left" style="display: table-cell; vertical-align: middle;"><%= comments[i].username %></p>
            <p class="text-muted float-right"><%= comments[i].date.toLocaleString() %></p>
        </div>
        <div class="card-body">
            <p class="card-text"><%= comments[i].commentBody %></p>
        </div>
    </div>
    <%}%>
</div>
