<!-- args: user  -->

<style>
    .navbar {
        -webkit-box-shadow: 0 8px 6px -6px #999;
        -moz-box-shadow: 0 8px 6px -6px #999;
        box-shadow: 0 8px 6px -6px #999;
        /* the rest of your styling */
    }
</style>

<div class="pb-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="/"> <img src="/img/g171.png" alt="disXourse-logo" width="40"> <span
                class="text-primary">disXourse</span> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/feed/astro-ph.CO/top-week/0">Cosmology and Nongalactic
                            Astrophysics</a>
                        <a class="dropdown-item" href="/feed/astro-ph.EP/top-week/0">Earth and Planetary
                            Astrophysics</a>
                        <a class="dropdown-item" href="/feed/astro-ph.GA/top-week/0">Astrophysics of Galaxies </a>
                        <a class="dropdown-item" href="/feed/astro-ph.HE/top-week/0">High Energy Astrophysical
                            Phenomena</a>
                        <a class="dropdown-item" href="/feed/astro-ph.IM/top-week/0">Instrumentation and Methods for
                            Astrophysics </a>
                        <a class="dropdown-item" href="/feed/astro-ph.SR/top-week/0">Solar and Stellar Astrophysics
                        </a>
                        <a class="dropdown-item" href="/feed/astro-all/top-week/0">All Astrophysics</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <% if (user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/feedback">Feedback</a>
                </li>
                <% } %>
                <form class="form-inline ml-1" action="/simple-search" method="POST">
                    <input name='searchTerm' class="form-control mr-sm-2" type="search" placeholder="Search for papers"
                        aria-label="Search" required>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"
                            aria-hidden="true"></i>
                    </button>
                </form>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="navbar-item ml-auto">
                    <% if (user) {%>
                    <span class="navbar-text mr-4">
                        <a class="nav-link" href=<%= `/user/${user._id}/recent-upvotes`%> style="color: #0275d8">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <%= ` ${user.username} ` %>
                            <% if (user.unread){ %>
                            <span class="badge badge-danger"><%= user.unread %> </span>
                            <% } %>
                        </a>
                    </span>
                    <a href="/auth/logout"><button type="button" class="btn btn-outline-primary">Logout</button></a>
                    <% } else {%>
                    <a href="/auth/google">
                        <button class="btn btn-success my-2 my-sm-0"><i class="fa fa-sign-in"
                                style="font-size: 1em;"></i> Sign in
                        </button>
                    </a>
                    <%}%>
                </li>
            </ul>
        </div>
    </nav>
</div>