<div class="pb-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-5">
        <a class="navbar-brand" href="/">DisXourse </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/feed/astro-ph.CO/top-week/0">Cosmology and Nongalactic Astrophysics
                    </a>
                    <a class="dropdown-item" href="/feed/astro-ph.EP/top-week/0">Earth and Planetary Astrophysics</a>
                    <a class="dropdown-item" href="/feed/astro-ph.GA/top-week/0">Astrophysics of Galaxies </a>
                    <a class="dropdown-item" href="/feed/astro-ph.HE/top-week/0">High Energy Astrophysical Phenomena</a>
                    <a class="dropdown-item" href="/feed/astro-ph.IM/top-week/0">Instrumentation and Methods for
                        Astrophysics </a>
                    <a class="dropdown-item" href="/feed/astro-ph.SR/top-week/0">Solar and Stellar Astrophysics </a>
                </div>
                </li>
            </ul>
        </div>

        <li class="navbar-nav mr-auto">
            <% if (myData.user) {%>
            <span class="navbar-text mr-4">
                Welcome, <%= myData.user.firstName %>
            </span>
            <a href="/auth/logout"><button type="button" class="btn btn-outline-info">Logout</button></a>
            <% } else {%>
            <a href="/auth/google">
                <button class="btn btn-success my-2 my-sm-0"> Login with <i class="fa fa-google"></i> </button>
            </a>
            <%}%>
        </li>
    </nav>
</div>