<div class="d-flex justify-content-center">
    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href=<%=  pagination.first %>><i class="fa fa-home"></i></a>
            </li>
            <% if (pagination.prev != null) {%>
            <li class="page-item"><a class="page-link" href=<%= pagination.prev %>><i class="fa fa-arrow-left"
                        aria-hidden="true"></i>
                </a></li>
            <% } %>
            <% if (paperCount != 0) {%>
            <li class="page-item"><a class="page-link" href=<%=  pagination.next %>><i class="fa fa-arrow-right"
                        aria-hidden="true"></i>
                </a></li>
            <% } %>
        </ul>
    </nav>
</div>