<style>
    /* Comment styles */
    ul.timeline-comments {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    ul.timeline-comments li.timeline-comment {
        position: relative;
        margin-bottom: 15px;
        padding: 0px;
        z-index: 9;
    }

    ul.timeline-comments li.timeline-comment:before {
        content: '';
        width: 1px;
        height: 100%;
        background: #ebedf2;
        position: absolute;
        left: 15px;
        top: 15px;
    }

    ul.timeline-comments li.timeline-comment:last-child:before {
        display: none;
    }

    ul.timeline-comments li.timeline-comment .timeline-comment-wrapper {
        position: relative;
        z-index: 99;
    }

    ul.timeline-comments li.timeline-comment .card .card-header img {
        width: 32px;
        background: #fff;
    }

    ul.timeline-comments li.timeline-comment .card .card-header h5 {
        font-size: 16px;
    }

    ul.timeline-comments li.timeline-comment .card .card-header .comment-date {
        font-size: 14px;
        color: #bbb;
    }

    ul.timeline-comments li.timeline-comment ul {
        padding-left: 30px;
        margin-top: 15px;
    }

    ul.timeline-comments li>ul>li:first-child>.timeline-comment-wrapper>.card>.card-header:after {
        content: '';
        width: 15px;
        height: 1px;
        background: #ebedf2;
        position: absolute;
        left: -15px;
        top: 50%;
        z-index: 3;
    }

    ul.timeline-comments li>ul>li:first-child>.timeline-comment-wrapper>.card>.card-header:before {
        content: '';
        width: 1px;
        height: 100%;
        background: #ebedf2;
        position: absolute;
        left: -16px;
        bottom: 50%;
        z-index: 1;
    }
</style>

<div class="container comments-box">
    <%- include('./treeView', {
        comments:comments,
        user:user
        }) %>
</div>


<script>
    //Format date on client side
    function formatDateStr(dateStr) {
        let date = new Date(dateStr)
        return date.toLocaleString()
    }
    let dateElems = document.getElementsByClassName('comment-date')
    for (let i = 0; i < dateElems.length; i++) {
        let element = dateElems[i];
        element.innerText = formatDateStr(element.innerText)
    }
</script>