<% if (comments.length) { %>
<ul class="timeline-comments">
    <% } %>

    <% comments.forEach(function(comment){ %>
    <li class="timeline-comment">
        <!-- comment card -->
        <%- include('./single-comment', {comment:comment,user:user}) %>
        <%- include('./treeView', {comments: comment.comments,user:user}) %>
    </li>
    <% }) %>
    <% if (comments.length) { %>
</ul>
<% } %>