.hidden{
    display: none;
}

.upvote {
    color: rgba(0, 255, 0, 0.3);
}

.upvote:hover {
    color: rgba(0, 255, 0, 1);
    cursor: pointer;
}

.upvote.active {
    color: rgba(0, 255, 0, 1);
    font-size: 30px;
    transition: 0.1s;
}

.downvote {
    color: rgba(255, 0, 0, 0.3);
}

.downvote:hover {
    color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

.downvote.active {
    color: rgba(255, 0, 0, 1);
    font-size: 30px;
    transition: 0.1s;
}

.vote-score {
    margin-bottom: 0px;
}

.upvote.guest {
    color: gray;
}

.downvote.guest {
    color: gray;
}

.card-header {
    height: 3em;
}

.pdf-viewer {
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.8);
    width: 90%;
    height: 750px;
    border-radius: 20px; 
    overflow: hidden
}

.blue-gradient-theme {
    height: 100vh;
    background: #1488CC;
    /* fallback for old browsers */
    background: linear-gradient(to right, #2B32B2, #1488CC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white
}

.btn-white {
    color: #0099ff !important;
    background-color: white !important;
}

html {
    scroll-behavior: smooth;
}

/* Card info stuff in landing page */

.cat-card .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.cat-card hr {
    margin: 1.5rem 0;
}

.cat-card .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
}

.cat-card ul li {
    margin-bottom: 1rem;
}

.cat-card .text-muted {
    opacity: 0.7;
}

/* Hover Effects on Card */

@media (min-width: 992px) {
    .cat-card .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
}