.upvote {
    color: rgba(0, 255, 0, 0.3);
}

.upvote:hover {
    color: rgba(0, 255, 0, 1);
    cursor: pointer;
}

.upvote.active {
    color: rgba(0, 255, 0, 1);
    font-size: 30px;
    transition: 0.1s;
}

.downvote {
    color: rgba(255, 0, 0, 0.3);
}

.downvote:hover {
    color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

.downvote.active {
    color: rgba(255, 0, 0, 1);
    font-size: 30px;
    transition: 0.1s;
}

.vote-score {
    margin-bottom: 0px;
}

.upvote.guest{
    color: gray;
}

.downvote.guest{
    color: gray;
}