<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>disXourse - About</title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar',{user:myData.user}) %>

    <h1 class="container-fluid text-center display-3 mt-5 mt-5">About </h1>
    <div class="container mt-5">
        <p>
            disXourse was built to a create platform to discuss the latest arXiv papers with reareachers in your field.
            The main goal of this website is to advance the concept of a journal club into something that is
            multi-instituonal and connects researchers from all over the world.
        </p>

        <p>
            The comments section is a place to share your thoughts on a paper. Questions are especially encouraged since
            other
            users can respond by answering them. In general, please try and keep comments constructive. We
            want disXourse to be a place where everyone, from novice to expert, feels comfortable
            leaving comments and asking so-called “dumb” questions.
        </p>

        <p>
            disXourse allows users to reply to other's comments in a thread which helps continue a conversation.
            Everytime you upvote or comment on a paper, you automatically
            'follow' the discussion for that paper and will get notified when another user comments.
        </p>


        <p> disXourse was built and is currently maintained by <a href="https://www.colorado.edu/aps/neeraj-kulkarni">
                Neeraj Kulkarni</a> . Please feel free to get in touch by
            sending a message to <a href="mailto:disXourse@gmail.com">disXourse@gmail.com</a>

            If you like using disXourse, please consider making a donating on patreon. This will help
            cover
            server hosting costs and allow me to keep developing the site.
        </p>

    </div>





    <%- //include('partials/footer') %>

    <%- include('partials/bottomScripts') %>
</body>

</html>