<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>disXourse - About</title>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar',{user:myData.user}) %>

    <h1 class="container-fluid text-center display-3 mt-5 mt-5">About </h1>
    <div class="container mt-5">
        <p>disXourse was built to a create platform to discuss the latest arXiv papers with reareachers in your field.
            If you
            like to request a feature, report a bug, or just say hi, please <a href="mailto:DisXourse@gmail.com">email
                us</a>
        </p>

    </div>
    <%- include('partials/bottomScripts') %>
</body>

</html>