<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('partials/head') %>
</head>

<body>

    <%- include('partials/navbar') %>

    <main role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">DisXourse</h1>
                <p>Stay updated with the latest papers in your field</p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Astrophysics</h2>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> <a href="/top/astro-ph.CO/0">Cosmology and Nongalactic Astrophysics
                            </a> </li>
                        <li class="list-group-item"> <a href="/top/astro-ph.EP/0">Earth and Planetary Astrophysics </a>
                        </li>
                        <li class="list-group-item"> <a href="/top/astro-ph.GA/0">Astrophysics of Galaxies </a> </li>
                        <li class="list-group-item"> <a href="/top/astro-ph.HE/0">High Energy Astrophysical Phenomena
                            </a>
                        </li>
                        <li class="list-group-item"> <a href="/top/astro-ph.IM/0">Instrumentation and Methods for
                                Astrophysics </a> </li>
                        <li class="list-group-item"> <a href="/top/astro-ph.SR/0">Solar and Stellar Astrophysics </a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
        </div> <!-- /container -->

    </main>


    <%- include('partials/bottomScripts') %>

</body>

</html>