<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title>Front</title>
    
</head>

<body>
    <%= user %> 
    <%- include('partials/navbar') %>

    <h1>Categories</h1>
    <ul>
        <li> <a href="/new/astro-ph.CO">Cosmology and Nongalactic Astrophysics </a> </li>
        <li> <a href="/new/astro-ph.EP">Earth and Planetary Astrophysics </a> </li>
        <li> <a href="/new/astro-ph.GA">Astrophysics of Galaxies </a> </li>
        <li> <a href="/new/astro-ph.HE">High Energy Astrophysical Phenomena </a> </li>
        <li> <a href="/new/astro-ph.IM">Instrumentation and Methods for Astrophysics </a> </li>
        <li> <a href="/new/astro-ph.SR">Solar and Stellar Astrophysics </a> </li>
    </ul>

    <%- include('partials/bottomScripts') %>
</body>

</html>